[submodule "themes/mana"]
	path = themes/mana
	url = https://github.com/Livour/hugo-mana-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/archie2"]
	path = themes/archie2
	url = https://github.com/athul/archie.git
